[
  {
    "isDefault": true,
    "authClient": {
      "clientName": "Bilirubin Chart",
      "clientId": "bilirubin_chart",
      "redirectUri": "{{bilirubin_risk_chart_server_external_url}}/index.html"
    },
    "appUri": "{{bilirubin_risk_chart_server_external_url}}/",
    "launchUri": "{{bilirubin_risk_chart_server_external_url}}/launch.html",
    "logoUri": "https://content.hspconsortium.org/images/bilirubin/logo/bilirubin.png"
  },
  {
    "authClient": {
      "clientName": "Patient Data Manager",
      "clientId": "patient_data_manager",
      "redirectUri": "{{patient_data_manager_server_external_url}}/index.html"
    },
    "appUri": "{{patient_data_manager_server_external_url}}/",
    "launchUri": "{{patient_data_manager_server_external_url}}/launch.html",
    "logoUri": "https://content.hspconsortium.org/images/hspc-patient-data-manager/logo/pdm.png"
  },
  {
    "isDefault": true,
    "authClient": {
      "clientName": "My Web App",
      "clientId": "my_web_app",
      "redirectUri": "http://localhost:8000/fhir-app/"
    },
    "launchUri": "http://localhost:8000/fhir-app/launch.html",
    "logoUri": "https://content.hspconsortium.org/images/my-web-app/logo/my.png"
  },
  {
    "isDefault": true,
    "authClient": {
      "clientName": "CDS Hooks Sandbox",
      "clientId": "48163c5e-88b5-4cb3-92d3-23b800caa927",
      "redirectUri": "http://sandbox.cds-hooks.org/launch.html"
    },
    "appUri": "http://sandbox.cds-hooks.org/",
    "launchUri": "http://sandbox.cds-hooks.org/launch.html",
    "logoUri": "https://content.hspconsortium.org/images/cds-hooks-sandbox/logo/CdsHooks.png"
  }
]