{
  "defaultServiceUrl": "{{api_server_default_sandbox_url}}",
  "baseServiceUrl_1": "{{sandman_server_api_v1_url}}/",
  "baseServiceUrl_2": "{{sandman_server_api_v2_url}}/",
  "baseServiceUrl_3": "{{sandman_server_api_v3_url}}/",
  "baseServiceUrl_4": "{{sandman_server_api_v4_url}}/",
  "oauthLogoutUrl": "{{auth_server_external_url}}/logout",
  "oauthUserInfoUrl": "{{auth_server_external_url}}/userinfo",
  "sbmUrlHasContextPath": "false",
  "userManagementUrl": "{{account_server_external_url}}",
  "reservedEndpoints": [
    "this",
    "hspc",
    "hspc1",
    "hspc2",
    "hspc3",
    "hspc4",
    "hspc5",
    "hspc6",
    "hspc7",
    "manage",
    "management",
    "health",
    "system",
    "sandbox",
    "dashboard",
    "admin",
    "rest",
    "reset",
    "static",
    "open",
    "stu3",
    "data",
    "test",
    "error",
    "invalid",
    "1",
    "2",
    "3",
    "4",
    "5",
    "6"
  ],
  "hostOrg": "hspc",
  "hspcAccountCookieName": "hspc-token",
  "personaCookieName": "hspc-persona-token",
  "personaCookieTimeout": 180000,
  "personaCookieDomain": "{{auth_server_persona_cookie_domain}}",
  "sandboxManagerApiUrl": "{{sandman_api_server_external_url}}"
}